body {
    min-width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

/*HEADER*/

/*Sony Black Bar*/

.sony_bar {
    background-color: black;
    height: 36px;
}

.sony_logo {
    width: 90px;
    padding: 8px 0;
}



/*Nav Bar*/

nav {
    background-color: white;
    position: sticky;
    top: 0;
    bottom: auto;
}

 header .search_link {
     color: black;
 }

 .search_link {
     margin-right: 15px;
     font-size: 20px;
 }


 /*Corpo Header*/

 .header_bg {
     background-image: url(../img/jumbo-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 .returnal_banner {
     width: 300px;
 }

 .container_title {
    padding-top: 270px;
    padding-bottom: 70px;
 }

 .col_title {
     font-size: 35px;
     line-height: 0;
     line-height: 1.2em;
 }


 /*MAIN*/

 /*Sezione 1*/

 .section_1_img {
     width: 100%;
     border-radius: 20px;
 }


 /*Sezione 2*/

/*Top*/
 .nolimits_link {
     text-decoration: none;
     color: rgb(8, 83, 245);
     font-size: 13px;
     font-weight: bold;
 }

 .text_grey {
     color: grey;
 }

 /*Bottom*/
.ps_5_img {
    width: 100%;
}

.fixings_ps5 img {
    width: 100%;
}

.fixings_ps5 a {
    text-decoration: none;
    color: black;
}

.fixings_ps5 .col-4:hover {
    border-bottom: 3px solid rgb(1, 90, 255);
}


/*Sezione 3*/

.section_3_main {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.takes_two_logo {
    width: 300px;
}

.container_row {
    padding-top: 40px;
    padding-bottom: 50px;
}

.btn-danger {
    background-color: none;
    background-color: rgb(212, 57, 0);
}