* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

.pointer {
    cursor: pointer;
}

/*HEADER*/

/*Sony Black Bar*/

.sony_bar {
    background-color: black;
    height: 36px;
    z-index: 9999;
}

.sony_logo {
    width: 90px;
    padding: 8px 0;
}



/*Nav Bar*/

nav {
    background-color: white;
    margin-top: 36px;
}

 header .search_link {
     color: black;
 }

 .search_link {
     margin-right: 15px;
     font-size: 20px;
 }

 .effects_button:hover {
     box-shadow: 0 0 0 3px rgb(34, 34, 34);
     border-radius: 2em;
 }

 .btn {
    margin: 1.2px;
 }


 /*Corpo Header*/

 .header_bg {
     background-image: url(../img/jumbo-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     margin-top: 120px;
 }

 .returnal_banner {
     width: 300px;
 }

 .container_title {
    padding-top: 270px;
    padding-bottom: 70px;
 }

 .col_title {
    font-size: 35px;
}

.effects_button_danger:hover {
    box-shadow: 0 0 0 3px rgba(196,58,14,255);
    border-radius: 2em;
}


 /*MAIN*/

 /*Sezione 1*/

 .section_1_img {
     width: 100%;
     border-radius: 20px;
 }


 /*Sezione 2*/

/*Top*/
 .nolimits_link {
     text-decoration: none;
     color: rgb(8, 83, 245);
     font-size: 13px;
     font-weight: bold;
 }

 .text_grey {
     color: rgba(121,121,121,255);
 }


 /*Bottom*/
.ps_5_img {
    width: 100%;
}

.fixings_ps5 img {
    width: 100%;
}

.fixings_ps5 a {
    text-decoration: none;
    color: black;
}

.fixings_ps5 .col-4:hover {
    border-bottom: 3px solid rgb(1, 90, 255);
}

.effects_button_primary:hover {
    box-shadow: 0 0 0 3px #0d6efd;
    border-radius: 2em;
}


/*Sezione 3*/

.section_3_main {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.takes_two_logo {
    width: 300px;
}

.container_row {
    padding-top: 40px;
    padding-bottom: 50px;
}

.btn-danger {
    background-color: none;
    background-color: rgba(196,58,14,255);
}


/*Sezione 4*/

.section_4_main {
    background-color: rgba(31,31,31,255);
}

.section_4_main img {
    width: 100%;
    border-radius: 20px;
}

.row_pointer .col-6 {
    cursor: pointer;
}


/*Sezione 5*/

.ps4_row img {
    width: 100%;
}


/*Sezione 6*/

.section_6_main {
    background-color: rgba(190,188,187,255);
}

.ps_plus_now_logo {
    width: 250px;
}

.effects_button_grey:hover {
    box-shadow: 0 0 0 3px rgb(231, 231, 231);
    border-radius: 2em;
}


/*Sezione 7*/

.section_7_main img {
    width: 100%;
}


/*Sezione 8*/

.section_8_main {
    background-color: rgba(22,28,59,255);
}

.effects_button_black:hover {
    box-shadow: 0 0 0 3px rgb(14, 13, 13);
    border-radius: 2em;
}


/*Sezione 9*/

.section_9_main img {
    width: 100%;
}



/*FOOTER*/

footer {
    background-color: rgba(0,67,156,255);
}

.footer_ul a {
    text-decoration: none;
    color: white;
}

.footer_ul {
    list-style: none;
}

.sie_logo {
    width: 120px;
}

.more_info {
    color: white;
}